@model ProyectoCapas.DAL.Usuario

<h1>Detalle del producto</h1>
<p>Nombre: @Model.Nombre</p>
<p>Precio: @Model.Apellido</p>
<p>Stock: @Model.Edad</p>
<p>Stock: @Model.Direccion</p>
<p>Stock: @Model.Telefono</p>

<a href="@Url.Action("Index", "Users")" class="btn btn-primary">Regresar al listado</a>